h1{
    background-color: lightcoral;
    font-size: 40px;
    width: 50%;
}

h1[id]{
    background-color: green;
    color: white;
}

h1[class]{
    background-color: red;
    color: whitesmoke;
}

input[type]{
    background-color: slateblue;
    font-size: 20px;
}

input[placeholder]{
    background-color: greenyellow;
}

p{
    font-size: 30px;
    background-color: cornflowerblue;
}

p[id]{
    background-color: salmon;
}

