h1{
    color: red;
    color: transparent;
    color: rgb(256, 0, 0);
    color: rgb(0, 256, 0);
    color: rgb(0, 0, 256);
    color: rgb(185, 110, 185);
    color: rgba(255, 127, 80, 0.847);
    color: hsla(34, 57%, 70%, 0.797);
    color: #7fff00;
    color: hwb(348 8% 14%);
    color: hsla(77, 100%, 54%, 0.555);
}







































    
}