#container{
    width: 700px;
    height: 900px;
    /* background-color: lavender; */
}

h1{
    font-size: 120px;
    float: left;
}

#orange{
    color: orange;
}

#green{
    color: green;
}


.blue{
    color: blue;
}

.orangered{
    color: orangered;
}

marquee{
    width: 100px;
    height: 900px;
    /* background-color: lawngreen; */

}


